language: rust
rust:
  - stable
  - beta
  - nightly

os:
  - linux
  - osx
  - windows

matrix:
  allow_failures:
    - rust: nightly

install:
  - cargo update

script:
  - cargo build --verbose --all
  - cargo test --verbose --all

cache: cargo